device_ip_address: "{{ ip_address }}"
device_hostname: ""

# network_switch_vlans:
#   - id: "@switch_vlan[1]"
#     vlan: "128"
#     ports: "0t 1t 2 3t 4 5"
#     description: "hoste"
#   - id: "@switch_vlan[2]"
#     vlan: "136"
#     ports: "0t 1t"
#     description: "studenti"
#   - id: "@switch_vlan[3]"
#     vlan: "144"
#     ports: "0t 1t 3t"
#     description: "ucitele"
#   - id: "@switch_vlan[4]"
#     vlan: "152"
#     ports: "0t 1t"
#     description: "free"

# wireless_devices:
#   - id: "{# {{ device_2g_radio }} #}"
#     channel:  "6"
#     txpower: "5"

# wireless_interfaces_override:
  # - ssid: "aurora"
  #   device: "{# {{ device_2g_radio }} #}"
  # - ssid: "aurora - free"
  #   device: "{# {{ device_2g_radio }} #}"
  # - ssid: "Aurora"
  #   device: "{# {{ device_2g_radio }} #}"